h1{
    text-align: center;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;  
}
body{
    background-image: url('fond1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img{
    display: block;
    margin: auto;
    width: 55%;
    border-radius:  15px; 
}
iframe{
    display: block;
    margin: auto;
 border-radius: 15px;
}
button{
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 5px;
    display: block;
    align-items: center;
    background-color:azure;
    border-radius: 10px;
}